.nfs*
work/
*.mpf
*.mti
*.wlf
final.mpf
core
FinalProject.cr.mti
FinalProject.mpf
vsim.wlf
*.pvl
*.syn
*.mr
*.log
*.svf
cksum_dir/
wlf*
*.rpt
*.jdi
*.smsg
*.summary
*.done
*.qdf
*.pin
*.sld
*.sof
db/
incremental_db/
c5_pin_model_dump.txt
cerealkillers/
cerealkillers.tar.gz
final.cr.mti
*.ucdb
*.qws